.balance-card {
  height: 10rem;
  width: 25rem;
  background: linear-gradient(-45deg, #670d10 0%, #092756 100%);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.title {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 2rem;
  color: white;
}
.balance {
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
